body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'Helvetica', sans-serif;
	background: black;
	color: white;
}

.container {
	margin: 0 auto;
	width: 800px;
	text-align: center;
}

#canteen_voting {
	padding: 30px;
}

#canteen_voting ul{
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#canteen_voting li {
	margin: 2em 0;
	display: block;
	clear: both;
	overflow: hidden;
}

#canteen_voting #submit_button {
	padding: 1em 2em;
	display: block;
	float: left;
	font-weight: bold;
	font-size: 1.5em;
}

#canteen_voting span {
	display: block;
	float: left;
	font-size: 1.5em;
	margin-right: 2em;
	min-width: 7em;
}

#canteen_voting label {
	display: block;
	float: left;
	margin: 0.5em 2em 0 0;
}

#canteen_voting input {
	display: block;
	float: left;
	margin: 0 0.5em 0 0;
}