body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	font-family: 'Chalkduster', serif;
	background: #333;
	color: white;
}

.container {
	margin: 0 auto;
	width: 1000px;
	text-align: center;
}

#canteen_voting {
	padding: 30px;
}

#canteen_voting h1 {
	font-size: 3em;
	margin: 0;
	padding: 0;
	text-align: left;
}

#canteen_voting ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
}

#canteen_voting li {
	margin: 1em 0;
	display: block;
	clear: both;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	padding-left: 2em;
}

#canteen_voting span {
	display: block;
	float: left;
	font-size: 1.5em;
	margin-right: 2em;
	min-width: 20em;
	line-height: 72px;
}

/* buttons styling */

#canteen_voting input {
	display: none;
}

.push_button {
	float: left;
	padding:1.5em;
	margin: 0 3em 1em 0;
	width: 23px;
	height: 20px;
	
	position:relative;
	display:block;
	
	color:#FFF;
	text-decoration:none;
	text-align:center;
	
	-webkit-border-radius:35px;
	border-radius:35px;
	
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
}

.push_button:active,
.vote_0 + input[type="radio"]:checked,
.vote_1 + input[type="radio"]:checked,
.vote_1 + input[type="radio"]:checked
 {
    position:relative;
    top:5px;
}

/* good */
.vote_0 {
	border:solid 1px #009933;
	background: url('images/thumbs_sprint.png') no-repeat 20px 21px, -webkit-linear-gradient(top, #00CC33, #009933);
	background: url('images/thumbs_sprint.png') no-repeat 20px 21px, linear-gradient(to bottom, #00CC33, #009933);
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #006633, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #006633, 0 4px 2px rgba(0, 0, 0, .5);
}

.vote_0 + input[type="radio"]:checked, .vote_0:hover, .vote_0.active {
	background: url('images/thumbs_sprint.png') no-repeat 20px 21px, -webkit-linear-gradient(top, #008900, #00AC39);
	background: url('images/thumbs_sprint.png') no-repeat 20px 21px, linear-gradient(top, #008900, #00AC39);
}

/* neutral */
.vote_1 {
	border:1px solid #EFC000;
	background: url('images/thumbs_sprint.png') no-repeat 20px -78px, -webkit-linear-gradient(top, #FFCC00, #EFC000);
	background: url('images/thumbs_sprint.png') no-repeat 20px -78px, linear-gradient(top, #FFCC00, #EFC000);		
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #B28F00, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #B28F00, 0 4px 2px rgba(0, 0, 0, .5);
}

.vote_1 + input[type="radio"]:checked, .vote_1:hover, .vote_1.active {
	background: url('images/thumbs_sprint.png') no-repeat 20px -78px, -webkit-linear-gradient(top, #D0B600, #F1C200);
	background: url('images/thumbs_sprint.png') no-repeat 20px -78px, linear-gradient(top, #D0B600, #F1C200);
}

/* bad */
.vote_2 {
	border:1px solid #990000;
	background: url('images/thumbs_sprint.png') no-repeat 20px -27px, -webkit-linear-gradient(top, #CC0000, #990000);
	background: url('images/thumbs_sprint.png') no-repeat 20px -27px, linear-gradient(top, #CC0000, #990000);
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #660000, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #660000, 0 4px 2px rgba(0, 0, 0, .5);
}

.vote_2 + input[type="radio"]:checked, .vote_2:hover, .vote_2.active {
	background: url('images/thumbs_sprint.png') no-repeat 20px -27px, -webkit-linear-gradient(top, #770000, #990000);
	background: url('images/thumbs_sprint.png') no-repeat 20px -27px, linear-gradient(top, #770000, #990000);
}

/* submit button */
#canteen_voting .button_container {
	width: 30%;
	margin: 0 auto;
	text-align: center;
}

#canteen_voting .button_container #submit_button {
	padding: 0.5em 3em;
	margin: 1em 0;
	display: block;
	float: left;
	font-family: 'Helvetica', sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	color: white;
	border-radius: 5px;
	border:solid 1px #009933;
	background: -webkit-linear-gradient(top, #00CC33, #009933);
	background: linear-gradient(to bottom, #00CC33, #009933);
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #006633, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #006633, 0 4px 2px rgba(0, 0, 0, .5);
}

#canteen_voting .button_container #submit_button:hover {
	background: -webkit-linear-gradient(top, #008900, #00AC39);
	background: linear-gradient(top, #008900, #00AC39);
}

/* end of button styling */